@import 'buttons_mixins';

$btn-padding-vertical: $padding-base-vertical;
$btn-padding-horizontal: $padding-base-horizontal;
$btn-font-size: $button-font-size;
$btn-line-height: $line-height;
$btn-border-radius: $button-border-radius;

.btn {  
  @include button-size($btn-padding-vertical, $btn-padding-horizontal, $btn-font-size, $btn-line-height, $btn-border-radius);
  background-image: none;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 0;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  outline: 0;
}

.btn-small {
  @extend .btn;
  @include button-size(
    ceil($btn-padding-vertical * .75), 
    ceil($btn-padding-horizontal * .75),
    ceil($btn-font-size * .75),  
    $btn-line-height,
    ceil($btn-border-radius * .75)
 )
}

.btn-large {
  @extend .btn;
  @include button-size(
    floor($btn-padding-vertical * 1.25), 
    floor($btn-padding-horizontal * 1.25),
    floor($btn-font-size * 1.25),  
    $btn-line-height,
    floor($btn-border-radius * 1.25)
  )
}

.btn-default {
  @include button-variant($blue, $light, $blue);
}

.btn-primary {
  @include button-variant($light, $blue, $blue);
}

.btn-success {
  @include button-variant($light, $green, $green);
}

.btn-warning {
  @include button-variant($light, $orange, $orange);
}

.btn-danger {
  @include button-variant($light, $red, $red);
}